
<body>
    <h1>利用規約</h1>
    <p>本規約は、バズダイアリー（以下「当社」といいます。）が提供するサービス（以下「本サービス」といいます。）を利用される際に適用されます。ご利用にあたっては、本規約をお読みいただき、内容をご承諾の上でご利用ください。</p>
    
    <h2>第1条 （規約の適用）</h2>
    <ol>
        <li>本規約は、当社が本サービスを提供する上で、利用者が本サービスの提供を受けるにあたっての諸条件を定めたものです。</li>
        <li>当社は、本サービスの提供に関して、本規約のほか、本サービスの利用に関する個別規約その他のガイドライン等を定めることがあります。この場合、当該個別規約その他のガイドライン等は、本規約の一部として利用者による本サービスの利用に優先して適用されるものとします。</li>
        <li>利用者が本サービスを利用された場合、利用者が本規約に同意したものとみなします。</li>
        <li>利用者が、未成年の場合、利用者は、本サービスの利用について、親権者等法定代理人の同意を得なければなりません。当社は、未成年者の利用者による本サービスの利用については、親権者等法定代理人の同意を得て行為されたものとみなします。</li>
    </ol>

    <h2>第2条 （利用登録）</h2>
    <ol>
        <li>利用者は、当社が定める方法により必要事項を登録いただくことで、利用登録を行うことができます。</li>
        <li>利用者は、登録事項について、当社に対して正確かつ最新の情報を届け出なければなりません。</li>
        <li>登録内容に変更が生じた場合、利用者は、速やかに、変更内容を当社に届け出るものとします。</li>
        <li>登録内容が不正確若しくは虚偽であり、又は、変更内容について届出がされていないために、利用者が損害又は不利益を被ったとしても、当社は責任を負わないものとします。</li>
    </ol>

    <h2>第3条 （ID及びパスワードの管理）</h2>
    <ol>
        <li>利用者が利用登録を行った場合、当社はID及びパスワードを発行します。</li>
        <li>利用者は、ID及びパスワードを厳重に管理し、保管するものとし、これを第三者に貸与、譲渡、売買その他の方法をもって利用させてはならないものとします。ID又はパスワードの管理が不十分なことにより、利用者が損害又は不利益を被ったとしても、当社は責任を負わないものとします。</li>
        <li>ID又はパスワードを紛失又は忘失した場合、又はこれらが第三者に使用されていることが判明した場合、利用者は、直ちにその旨を当社に通知するものとします。</li>
        <li>当社は、利用者に発行したID及びパスワードによる本サービスの利用の一切につき、利用者による真正な利用か否かにかかわらず、利用者本人の行為とみなすものとし、利用者は当該行為の結果生じる一切の責任を負担するものとします。</li>
    </ol>

    <h2>第4条 （知的財産権及びコンテンツ）</h2>
    <p>本サービスを構成する全ての素材に関する著作権を含む知的財産権その他の一切の権利は、当社又は当該権利を有する第三者に帰属しています。利用者は、本サービスの全ての素材に関して、一切の権利を取得することはないものとし、権利者の許可なく、素材に関する権利を侵害する一切の行為をしてはならないものとします。本規約に基づく本サービスの利用の許諾は、本サービスに関する当社又は当該権利を有する第三者の権利の使用許諾を意味するものではありません。</p>

    <h2>第5条 （利用者による投稿）</h2>
    <ol>
        <li>本サービス内における利用者による書き込み、レビュー、コメント等の情報及び利用者が掲載、アップロード又は閲覧可能にした画像、イラストその他のコンテンツ（以下「利用者投稿情報」といいます。）は、本サービスの不特定多数の利用者からアクセス及び閲覧されることを十分に理解の上、本サービスをご利用ください。利用者投稿情報については、これを行った利用者が一切の責任を負うものとします。</li>
        <li>利用者は以下の情報の投稿を行うことはできません。
            <ol type="a">
                <li>真実ではないもの</li>
                <li>わいせつな表現又はヌード等のわいせつ画像を含むもの</li>
                <li>他人の名誉又は信用を傷つけるもの</li>
                <li>第三者のプライバシー権、肖像権、著作権その他の権利を侵害するもの</li>
                <li>コンピュータウィルスを含むもの</li>
                <li>当社の認めるウェブサイト以外のウェブサイトへのリンクやURL</li>
                <li>その他当社が不適当と判断するもの</li>
            </ol>
        </li>
        <li>利用者は、当社が利用者投稿情報を無償で使用することを許諾するものとします。許諾にあたり、利用者は以下を表明し保証するものとします。
            <ol type="a">
                <li>利用者投稿情報に関する著作権、著作隣接権、肖像権その他一切の権利について、正当な権利者であり、又は、正当な権利者から本サービスに係る利用者投稿情報の利用に必要な一切の許諾を受けていること。</li>
                <li>利用者投稿情報の投稿及び当社による利用が、第三者の著作権、著作隣接権、肖像権その他一切の権利を侵害しないこと。</li>
            </ol>
        </li>
        <li>当社は、利用者に安全に本サービスを利用いただくことを目的として、利用者投稿情報の内容を監視することができるものとします。</li>
        <li>当社は、利用者投稿情報が本規約に違反する場合又は以下の事由に該当する場合、利用者への事前の通知なく利用者投稿情報を削除すること及び利用者の投稿の制限を行うことができるものとします。
            <ol type="a">
                <li>投稿から一定期間以上経過した場合</li>
                <li>本サービスの保守管理上、必要と認められる場合</li>
                <li>利用者投稿情報等の容量が当社の使用機器の所定容量を超過した場合又はその恐れが生じた場合</li>
            </ol>
        </li>
        <li>当社は、前項による削除及び投稿の制限の理由につき、利用者に対し返答する義務を負うものではなく、削除及び制限につき、利用者に発生した損害又は不利益につき、責任を負いません。また、当社は、利用者投稿情報の削除義務を負うものではありません。</li>
        <li>利用者は、本条に係る利用者投稿情報の監視、削除及び投稿の制限について、あらかじめ同意するものとします。</li
