<main class="top text-black">
  <div class="top-explanation text-center">
    <p>こんにちは！「バズダイアリー」です。</p>
    <p>毎日続けたくなる日記アプリです。</p>
    <p>+ボタンを押して、日記を作成できます</p>
    <p>日記を作成するとホーム画面で共有され、ユーザーが誰でもみることができます</p>
    <p>デイリーミッションやチャレンジミッションを達成するために、できるだけ多くの人の日記をいいねしよう！</p>
    <p>本日投稿された日記には一括でいいねできるボタンもあるよ！いいねボタンは連打可能！</p>
    <p>ミッションをクリアすると、自分の日記にもらえるいいね数が大幅UP!</p>
    <p>もちろん、あなた以外のユーザーもたくさんいいねしてくれるので、あなたの日記のいいね数は鰻登りに増えていきます！</p>
    <p>自分の日記が毎日SNSで大バズりしているような感覚になれば、きっと明日も日記を続けたくなるはず。</p>
    <p>思い出ページではカレンダー形式で自分の日記を振り返ることができます。</p>
    <p>毎日の投稿を忘れないように、このアプリのLINEアカウントを友だち追加して、リマインド通知をもらおう！</p>
    <p>ユーザー同士でいいねを送り合いながら、毎日楽しく記録を残していきましょう！</p>
  </div>
  <div class="" id="userLoginSinup">
    <ul class="ms-auto flex">
      <li class="mr-5">
        <%= link_to new_user_session_path, class: "line-login-link" do %>
        <div class="">
            ログインはこちら
        </div>
        <% end %>
      </li>
      <li class="mr-5">
        <%= link_to destroy_user_session_path, class: "line-logout-link", data: { turbo_method: :delete } do %>
          <div class="">
            暫定でログアウトはこちら
          </div>
        <% end %>
      </li>
    </ul>
  </div>
</main>