<main class="top text-black flex flex-col items-center justify-center">
  <%= image_tag "ogp.png", class: "img-top w-full" %>
  <div class="mt-5 text-3xl font-bold text-wakatake border-b-4">  
    <p>こんにちは！</p>
    <p>「バズダイアリー」です。</p>
  </div>
  <p class="my-2">バズダイアリーは基本的には日記アプリです。</p>
  <p class="my-2">日記投稿して、思い出を記録していってください</p>
  <p class="my-2 font-bold">でも、毎日続けるには</p>
  <p class="my-2 font-bold">モチベーション維持が難しいですよね・・・</p>
  <p class="my-2">そこで皆さんに質問です。</p>
  <p class="my-2">もし、SNSで自分の投稿がバズってたら、</p>
  <p class="my-2">また投稿したくなりませんか？</p>
  <p class="my-2 font-bold">きっとなりますよね！！</p>
  <p class="my-2">そう、このアプリは</p>
  <p class="my-2 font-bold text-xl">「自分の投稿(日記)がバズってる！」</p>
  <p class="my-2">という体験をモチベーションに日記を継続できる！</p>
  <p class="my-2">というのが特徴です。</p>
  <p class="my-2">自分の投稿した日記にたくさんのいいねが</p>
  <p class="my-2">貰える仕組みを用意しているので、ユーザー同士で</p>
  <p class="my-2">みんなの日記をバズらせましょう！</p>
  <div class="my-2 text-3xl border-b-4 text-wakatake">  
    アプリの特徴
  </div>
  <div class="text-3xl border-b-4 my-2 text-wakatake">  
    <p>・みんなの日記をチェック</p>
  </div>
  <p class="my-2">ユーザーが作成した日記はホームメニューで</p>
  <p class="my-2">共有されています</p>
  <%= image_tag "home_sample.png", class: "w-60" %>
  <p class="my-2">各日記のタイトルを選択すると</p>
  <p class="my-2">詳細を見ることができます</p>
  <%= image_tag "show_diary_sample.png", class: "w-60" %>
  <p class="my-2">ログインしていればコメントもできますよ！</p>
  <%= image_tag "comment_sample.png", class: "w-60" %>
  <div class="text-3xl border-b-4 my-2 text-wakatake">  
    <p>・好きなだけいいねできる</p>
  </div>
  <p class="my-2">どの日記にも好きなだけいいねできます！</p>
  <p class="my-2">あなたのいいねがみんなの日記をバズらせる・・・！</p>
  <a href="https://gyazo.com/1b37c600adf812590856e567a976be56"><img src="https://i.gyazo.com/1b37c600adf812590856e567a976be56.gif" alt="Image from Gyazo" width="280"/></a>
  <div class="text-3xl border-b-4 my-2 text-wakatake">  
    <p>・ミッションを達成して</p>
    <p>いいね獲得数をアップ！！</p>
  </div>
  <p class="my-2">ミッションメニューでは</p>
  <p class="my-2">毎日リセットされるデイリーミッション</p>
  <a href="https://gyazo.com/2ef35277464f0d32f3a322635cfac60a"><img src="https://i.gyazo.com/2ef35277464f0d32f3a322635cfac60a.gif" alt="Image from Gyazo" width="280"/></a>
  <p class="my-2">アプリを続けていく中で</p>
  <p class="my-2">達成を目指すチャレンジミッション</p>
  <p class="my-2">があります</p>
  <a href="https://gyazo.com/a99bb313da6fafd44ada74b76ae7abf8"><img src="https://i.gyazo.com/a99bb313da6fafd44ada74b76ae7abf8.gif" alt="Image from Gyazo" width="190"/></a>
  <p class="my-2 font-bold text-wakatake">ミッション内容を達成すると自分の日記に</p>
  <p class="my-2 font-bold text-wakatake">たくさんいいねが付くようになりますよ！</p>
  <div class="flex text-xs">
    <div>
    <p class="my-2">ミッションを</p>
    <p class="my-2">達成していない人の日記は・・・</p>
      <a href="https://gyazo.com/5772f208c0b7c7823e1142321e5fb2cb"><img src="https://i.gyazo.com/5772f208c0b7c7823e1142321e5fb2cb.gif" alt="Image from Gyazo" width="280"/></a>
    </div>
    <div>
      <p class="my-2">たくさんミッションを</p>
      <p class="my-2">達成している人の日記は・・・</p>
      <a href="https://gyazo.com/6ab00d160b50d41004e9bf1de92bf520"><img src="https://i.gyazo.com/6ab00d160b50d41004e9bf1de92bf520.gif" alt="Image from Gyazo" width="282"/></a>
    </div>
  </div>
  <p class="my-2 font-bold text-wakatake">大バズりしてるようないいね数を獲得しちゃおう！</p>
    <p>+ボタンを押して、日記を作成できます</p>
    <p>日記を作成するとホーム画面で共有され、ユーザーが誰でもみることができます</p>
    <p>デイリーミッションやチャレンジミッションを達成するために、できるだけ多くの人の日記をいいねしよう！</p>
    <p>本日投稿された日記には一括でいいねできるボタンもあるよ！いいねボタンは連打可能！</p>
    <p>ミッションをクリアすると、自分の日記にもらえるいいね数が大幅UP!</p>
    <p>もちろん、あなた以外のユーザーもたくさんいいねしてくれるので、あなたの日記のいいね数は鰻登りに増えていきます！</p>
    <p>自分の日記が毎日SNSで大バズりしているような感覚になれば、きっと明日も日記を続けたくなるはず。</p>
    <p>思い出ページではカレンダー形式で自分の日記を振り返ることができます。</p>
    <p>毎日の投稿を忘れないように、このアプリのLINEアカウントを友だち追加して、リマインド通知をもらおう！</p>
    <p>ユーザー同士でいいねを送り合いながら、毎日楽しく記録を残していきましょう！</p>
  </div>
  </div>
</main>