<main class="top text-black flex flex-col items-center justify-center">
  <div class="relative">
    <%= image_tag "ogp.png", class: "img-top w-full" %>
  </div>
  <div class="mt-5 text-3xl border-b-4">  
  <p>こんにちは！</p>
  <p>「バズダイアリー」です。</p>
  </div>
  <div class="my-2">
    <p>バズダイアリーとは、日記アプリです。</p>
    <p>日記投稿して、思い出を記録していってください</p>
    <p>でも、毎日続けるには、続けたいと思うモチベーション維持が難しいですよね・・・</p>
    <p class="text-2xl">そこで！</p>
    <p>このアプリでは、自分の日記にたくさんのいいねが貰える仕組みを用意しており、</p>
    <p>「自分の投稿(日記)がバズってる！」ような気持ちになることができます！</p>
    <p>バズってるとまた投稿したくなりますよね？そんな気持ちをモチベーションに繋げるアプリです</p>
  </div>
  <div class="text-3xl border-b-4">  
    アプリの特徴
  </div>
  <div class="flex">
    <div class="text-3xl border-b-4">  
      ホームメニューからみんなの日記をチェック
    </div>

  </div>
    <p>+ボタンを押して、日記を作成できます</p>
    <p>日記を作成するとホーム画面で共有され、ユーザーが誰でもみることができます</p>
    <p>デイリーミッションやチャレンジミッションを達成するために、できるだけ多くの人の日記をいいねしよう！</p>
    <p>本日投稿された日記には一括でいいねできるボタンもあるよ！いいねボタンは連打可能！</p>
    <p>ミッションをクリアすると、自分の日記にもらえるいいね数が大幅UP!</p>
    <p>もちろん、あなた以外のユーザーもたくさんいいねしてくれるので、あなたの日記のいいね数は鰻登りに増えていきます！</p>
    <p>自分の日記が毎日SNSで大バズりしているような感覚になれば、きっと明日も日記を続けたくなるはず。</p>
    <p>思い出ページではカレンダー形式で自分の日記を振り返ることができます。</p>
    <p>毎日の投稿を忘れないように、このアプリのLINEアカウントを友だち追加して、リマインド通知をもらおう！</p>
    <p>ユーザー同士でいいねを送り合いながら、毎日楽しく記録を残していきましょう！</p>
  </div>
  </div>
</main>