<div class="flex items-center justify-center">
  <div>
    <%= render partial: "shared/avatar", locals:{user: current_user} %>
    <div id="mypage_name">
      名前
    </div>
    <div id="user_name">
      <%= current_user.name %>
    </div>
    <div id=""
    <div id="remind" class="form-control">
      <% if current_user.remind %>
        <%= button_to update_remind_profile_path, class: "btn btn-success", method: :patch do %>
          LINE通知はONです
        <% end %>
      <% else %>
        <%= button_to update_remind_profile_path, class: "btn btn-neutral", method: :patch do %>
          LINE通知はOFFです
        <% end %>
      <% end %>
    </div>
  </div>
</div>