<div class="flex items-center justify-center">
  <div class="">
    <%= current_user.name %>
    <div id="remind" class="form-control">
      <% if current_user.remind %>
        <%= button_to update_remind_profile_path, class: "btn btn-success", method: :patch do %>
          LINE通知はONです
        <% end %>
      <% else %>
        <%= button_to update_remind_profile_path, class: "btn btn-neutral", method: :patch do %>
          LINE通知はOFFです
        <% end %>
      <% end %>
    </div>
  </div>
</div>