<% content_for(:title, t("title.login")) %>
<div class="flex items-center justify-center">
  <h1><%= t("title.login") %></h1>
</div>
<div class="flex items-center justify-center">
  <%= render "users/shared/links" %>
</div>