<% content_for(:title, t("title.login")) %>
<div class="flex items-center justify-center">
  <h1><%= t("title.login") %></h1>
</div>
<div class="flex items-center justify-center">
<!-- テストユーザーログイン用 -->
  <%= render "new_form" %>
  <%= render "users/shared/links" %>
</div>