<div id="like-everything" class="tooltip tooltip-open  tooltip-right tooltip-accent" data-tip="<%= t("likes.like_everything") %>">
  <%= button_to everything_likes_path, id: "btn_animation", method: { turbo_method: :post } do %>
    <div class="btn0">
      <% case user.like_css %>
        <% when 0 %>
          <i class="fa-solid fa-heart text-7xl pt-2 text-green-500"></i>
        <% when 1 %>
          <i class="fa-solid fa-heart text-7xl pt-2 text-yellow-400"></i>
        <% when 2 %>
          <i class="fa-solid fa-heart text-7xl pt-2 text-sky-500"></i>
        <% when 3 %>
          <i class="fa-solid fa-heart text-7xl pt-2 text-rose-600"></i>
        <% when 4 %>
          <i class="fa-solid fa-heart text-7xl pt-2 text-fuchsia-700"></i>
        <% when 5 %>
          <i class="fa-solid fa-heart text-7xl pt-2 text-teal-300"></i>
      <% end %>
    </div>
  <% end %>
</div>
