<div id="like-everything" class="tooltip tooltip-open" data-tip="<%= t("likes.like_everything") %>">
  <%= button_to everything_likes_path, id: "btn_animation", method: { turbo_method: :post } do %>
    <i class="btnn fa-solid fa-heart-circle-plus text-7xl pt-2"></i>
  <% end %>
</div>