<% content_for(:title, t("title.diary_index")) %>
<div class="mx-3">
  <div class="mb-3 relative z-30">
    <%= render 'search_form', q: @q, url: diaries_path %>
  </div>
  <% if @diaries.present? %>
    <div id="diaries">
      <%= render partial: "diary", collection: @diaries %>
    </div>
  <% else %>
    <div class="flex items-center justify-center text-2xl">
      <%= t("diaries.no_result") %>
    </div>
  <% end %>
</div>