<div class="container">
  <!-- 日記一覧 -->
  <div class="">
    <div class="">
      <div class="justify-center mx-10">
        <% if @diaries.present? %>
          <%= render partial: "diary", collection: @diaries %>
        <% else %>
          <div class="">日記がありません</div>
        <% end %>
      </div>
    </div>
  </div>
</div>