<div class="container">
  <div class="row">
    <div class="flex items-center justify-center">
      <h1><%= t("title.create_diary") %></h1>
    </div>
    <div class="flex items-center justify-center">
      <%= render partial: "shared/error_messages", locals:{object: @diary} %>
    </div>
    <div class="flex items-center justify-center mx-5">
      <%= render partial: "new_form" %>
    </div>
  </div>
</div>