<% content_for(:title, @diary.title) %>
<div class="container pt-5">
  <div class="mb-3">
    <div class="user-name text-center font-black font-bold text-2xl">
      <%= @diary.user.name %>
    </div>
    <div class="flex items-flex-end">
      <%= render partial: "show_diary", locals: {diary: @diary} %>
    </div>
    <%# コメントフォーム %>
    <div class="row">
      <div class="">
        <div class="table">
          <div id="table-comment">
            <%= render partial: "comments/comment", collection: @comments %>
          <div>
        </div>
        <%= render partial: "comments/form", locals: {comment: @comment, diary: @diary} %>
      </div>
    </div>
  </div>
</div>