<div class="modal-content">
  <p>すでに今日の日記は書いているようです。更新しますか？</p>
  <%= link_to "/", class: "" do %>
    <button id="update-yes" class="btn btn-primary">Yes</button>
  <% end %>
  <button id="update-no" class="btn btn-secondary">No</button>
</div>