<%= link_to diaries_path, class: "logo" do %>
  <%= image_tag "logo.png", class: "img-top mx-5", width: "70", height:"70" %>
<% end %>

<div id="navbarSupportedContent">
  <ul class="flex justify-between mt-1 mx-3 w-60">
    <li class="">
      <%= link_to "/", class: "nav-link", id: "header-menu" do %>
        <div class="text-4xl">
          <i class="fa-solid fa-question"></i>
        </div>
        <div class="text-sm">
          使い方
        </div>
      <% end %>
    </li>

    <li class="">
      <%= link_to new_user_session_path, class: "line-login-link" do %>
        <div class="text-4xl">
        <i class="fa-solid fa-right-to-bracket"></i>
        </div>
        <div class="text-sm">
            ログイン
        </div>
      <% end %>
    </li>
  </ul>
</div>