<%= link_to diaries_path, class: "logo" do %>
  <%= image_tag "logo.png", class: "img-top mx-5", width: "70", height:"70" %>
<% end %>

<div id="navbarSupportedContent">
  <ul class="flex justify-between mt-1 mx-3 w-60">
    <li class="">
      <%= navbar_link("/", "fa-solid fa-question", "使い方", "header-menu") %>
    </li>

    <li class="">
      <%= navbar_link(new_user_session_path, "fa-solid fa-right-to-bracket", "ログイン", "login") %>
    </li>
  </ul>
</div>