<footer id="footer" class='footer-bottom'>
  <div class='container my-3 text-center'>
    <div class='row'>
      <div class='copyright'>
        <p>Copyright © 2024. RYUSUKE GOTO</p>
      </div>
    </div>
  </div>
</footer>