<footer id="footer">
  <div class='text-center'>
    <div id="privacypolicy">
      <%= link_to policy_path do %>
        プライバシーポリシー
      <% end %>
    </div>
    <div id="terms">
      <%= link_to  term_path do %>
        利用規約
      <% end %>
    </div>
    <div class='copyright'>
      <p>Copyright © 2024. RYUSUKE GOTO</p>
    </div>
  </div>
</footer>