<header class="flex justify-between bg-green h-15 font-white">
  <%= link_to diaries_path, class: "logo" do %>
    <%= image_tag "logo.png", class: "img-top", width: "70", height:"70" %>
  <% end %>

  <button class="">
    <span class="toggler-icon"></span>
  </button>

  <div class="collapse" id="navbarSupportedContent">
    <ul class="ms-auto flex">
      <li class="mr-5">
        <%= link_to "/", class: "nav-link", id: "header-menu" do %>
          <div class="text-4xl">
            <i class="fa-solid fa-question"></i>
          </div>
          <div class="text-base">
            使い方
          </div>
        <% end %>
      </li>

      <li class="nav-item ml-5 mr-5">
        <%= link_to "#", class: "nav-link", id: "header-menu" do %>
          <div class="text-4xl">
            <i class="fa-solid fa-mountain-sun"></i>
          </div>
          <div class="text-base">
            ミッション
          </div>
        <% end %>
      </li>
    </ul>
  </div>
</header>