
<%= link_to diaries_path, class: "logo" do %>
  <%= image_tag "logo.png", class: "img-top mx-5", width: "70", height:"70" %>
<% end %>

<div id="navbarSupportedContent">
  <ul class="ms-auto flex">
    <li class="mr-5">
      <%= link_to "/", class: "nav-link", id: "header-menu" do %>
        <div class="text-4xl">
          <i class="fa-solid fa-question"></i>
        </div>
        <div class="text-base">
          使い方
        </div>
      <% end %>
    </li>

    <li class="mr-5">
      <div class="dropdown dropdown-end">
        <% if flash[:daily_missions_update].present? %>
          <div class="indicator">
            <span class="indicator-item indicator-bottom indicator-center badge badge-secondary">check!</span>
            <button class="" tabindex="0">
              <i class="fa-solid fa-mountain-sun text-4xl"></i>
              <div class="text-base">
                ミッション
              </div>
            </button>
          </div>
        <% else %>
          <button class="" tabindex="0">
            <i class="fa-solid fa-mountain-sun text-4xl"></i>
            <div class="text-base">
              ミッション
            </div>
          </button>
        <% end %>
        <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-36 p-2 shadow bg-white">
          <li>
            <button class="" onclick="my_modal_1.showModal(); loadMissions('daily', 'mission-list-daily')">
              <div class="text-black text-base">
                ・デイリー
              </div>
            </button>
          </li>
          <li>
            <button class="" onclick="my_modal_2.showModal(); loadMissions('challenge', 'mission-list-challenge')">
              <div class="text-black text-base">
                ・チャレンジ
              </div>
            </button>
          </li>
        </ul>
      </div>
    </li>
    <li class="mr-5">
      <%= link_to destroy_user_session_path, class: "line-logout-link", data: { turbo_method: :delete } do %>
        <div class="text-4xl">
          <i class="fa-solid fa-right-from-bracket"></i>
        </div>
        <div class="text-base">
          ログアウト
        </div>
      <% end %>
    </li>
  </ul>
</div>

<!-- デイリーミッション用モーダル -->
<dialog id="my_modal_1" class="modal">
  <div class="modal-box bg-white text-black">
    <h3 class="text-lg font-bold">デイリーミッション</h3>
    <div class="text-lg">毎日クリアするたびにバフUP!</div>
    <div id="mission-list-daily" class="mt-4">
      <!-- デイリーミッション一覧はここに表示されます -->
    </div>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn">閉じる</button>
      </form>
    </div>
  </div>
</dialog>

<!-- チャレンジミッション用モーダル -->
<dialog id="my_modal_2" class="modal">
  <div class="modal-box bg-white text-black">
    <h3 class="text-lg font-bold">チャレンジミッション</h3>
    <div id="mission-list-challenge" class="mt-4">
      <!-- チャレンジミッション一覧はここに表示されます -->
    </div>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn">閉じる</button>
      </form>
    </div>
  </div>
</dialog>