
<%= link_to diaries_path, class: "logo" do %>
  <%= image_tag "logo.png", class: "img-top mx-3", width: "70", height:"70" %>
<% end %>

<div id="navbarSupportedContent">
  <ul class="flex justify-between mt-1 w-60">
    <li class="">
      <%= navbar_link("/", "fa-solid fa-question", "使い方", "header-menu") %>
    </li>

    <li class="">
      <div class="dropdown dropdown-end">
        <% if flash[:challenge_missions_update].present? || flash[:daily_missions_update].present? %>
          <div class="indicator">
            <span class="indicator-item indicator-bottom indicator-center badge badge-secondary">check!</span>
        <% end %>
            <button class="" tabindex="0">
              <i class="fa-solid fa-mountain-sun text-4xl"></i>
              <div class="text-sm">
                ミッション
              </div>
            </button>
        <% if flash[:challenge_missions_update].present? || flash[:daily_missions_update].present? %>
          </div>
        <% end %>
        <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-36 p-2 shadow bg-white">
          <li>
          <% if flash[:daily_missions_update].present? %>
            <div class="indicator">
              <span class="indicator-item indicator-bottom indicator-center badge badge-secondary">check!</span>
          <% end %>
              <button class="" onclick="my_modal_3.showModal(); loadMissions('daily', 'mission-list-daily')">
                <div class="text-black text-sm">
                  ・デイリー
                </div>
              </button>
          <% if flash[:challenge_missions_update].present? %>
            </div>
          <% end %>  
          </li>
          <li>
          <% if flash[:challenge_missions_update].present? %>
            <div class="indicator">
              <span class="indicator-item indicator-bottom indicator-center badge badge-secondary">check!</span>
            <% end %>            
              <button class="" onclick="my_modal_4.showModal(); loadMissions('challenge', 'mission-list-challenge')">
                  <div class="text-black text-sm">
                    ・チャレンジ
                  </div>
              </button>
          <% if flash[:challenge_missions_update].present? %>
            </div>
          <% end %> 
          </li>
        </ul>
      </div>
    </li>
    <li class="">
      <%= link_to destroy_user_session_path, class: "line-logout-link", data: { turbo_method: :delete } do %>
        <div class="text-4xl flex items-center justify-center">
          <i class="fa-solid fa-right-from-bracket"></i>
        </div>
        <div class="text-sm flex items-center justify-center">
          ログアウト
        </div>
      <% end %>
    </li>
  </ul>
</div>

<dialog id="my_modal_3" class="modal">
  <div class="modal-box bg-white text-black">
    <div class="modal-action">
      <form method="dialog">
        <button class="btn">閉じる</button>
      </form>
    </div>
    <h3 class="text-lg font-bold">デイリーミッション</h3>
    <div class="text-lg">毎日クリアするたびにいいね獲得数UP!</div>
    <div id="mission-list-daily">
    <!-- デイリーミッション一覧はここに表示されます -->
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="my_modal_4" class="modal">
  <div class="modal-box bg-white text-black">
    <div class="modal-action">
      <form method="dialog">
        <button class="btn">閉じる</button>
      </form>
    </div>
    <h3 class="text-lg font-bold">チャレンジミッション</h3>
    <div class="text-lg">クリアするたびにいいね獲得数UP!</div>
    <div class="text-lg">達成していくとアプリに変化が！</div>
    <div id="mission-list-challenge">
    <!-- チャレンジミッション一覧はここに表示されます -->
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<!-- デイリーミッション用モーダル -->
<dialog id="my_modal_1" class="modal">
  <div class="modal-box bg-white text-black">
    <div class="flex justify-center justify-between">
      <h3 class="text-lg font-bold">デイリーミッション</h3>
      <div class="modal-action">
        <form method="dialog">
          <button class="btn">閉じる</button>
        </form>
      </div>
    </div>
    <div class="text-lg">毎日クリアするたびにいいね獲得数UP!</div>
    <div id="mission-list-daily">
      <!-- デイリーミッション一覧はここに表示されます -->
    </div>
  </div>
</dialog>

<!-- チャレンジミッション用モーダル -->
<dialog id="my_modal_2" class="modal">
  <div class="modal-box bg-white text-black">
    <div class="flex justify-center justify-between">
      <h3 class="text-lg font-bold">チャレンジミッション</h3>
      <div class="modal-action">
        <form method="dialog">
          <button class="btn">閉じる</button>
        </form>
      </div>
    </div>
    <div class="text-lg">クリアするたびにいいね獲得数UP!</div>
    <div class="text-lg">達成していくとアプリに変化が！</div>
    <div id="mission-list-challenge">
      <!-- チャレンジミッション一覧はここに表示されます -->
    </div>
  </div>
</dialog>