<tr class="border-green-50">
  <td class="border-green-50">
    <div id="diary-id-<%= memory_diary.id %>">
      <div class="card-body">
        <%= link_to diary_path(memory_diary.id), class: "flex justify-center items-center text-xl" do %>
        <div class="card-date">
          <%= memory_diary.diary_date %>
        </div>
        <div class="card-title mx-5">
          <%= memory_diary.title %>
        </div>
        <% end %>
      </div>
    </div>
  </td>
</tr>