@tailwind base;
@tailwind components;
@tailwind utilities;

@import "top";
@import "logo";

.font-black {
  color: black;
}

.font-white {
    color: white;
}

.bg-green {
    background-color: #65C294;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon {
    font-size:2.4em;
}

.icon-text {
    font-size:0.2em;
}

.btn-line-login {
    background-color: #06C755;
    border: solid #06C755;
}

.btn-line-login:hover {
    background-color: #06C755;
    border: solid #06C755;
}

.items-flex-end {
  align-items: flex-end;
}