@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "simple_calendar";

.bg-green {
    background-color: #65C294;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-line-login {
    background-color: #06C755;
    border: solid #06C755;
}

.btn-line-login:hover {
    background-color: #06C755;
    border: solid #06C755;
}

.items-flex-end {
  align-items: flex-end;
}

.btn_box{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

#btn_animation .btnn {
  display: block;
  width: 20px;
  height: 50px;
  line-height: 50px;
  border-radius: 39px;
  text-decoration: none;
  background-color: none;
  color: green;
  text-align: center;
  animation: btn_animation 1.5s infinite;
}

@keyframes btn_animation {
    0% {
        transform: scale(1.2)
    }
    5% {
        transform: scale(1)
    }
    95% {
        transform: scale(1)
    }
    100% {
        -webkit-transform: scale(1.2)
    }
}