@tailwind base;
@tailwind components;
@tailwind utilities;

@import "top";
@import "logo";

.font-black {
    color: black;
}

.font-white {
    color: white;
}

.bg-green-00 {
    background-color: green;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon {
    font-size:2.4em;
}

.icon-text {
    font-size:0.2em;
}